* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fab22e;
  font-size: 16px;
}

h1,
footer {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer {
  background-color: #333;
  color: #fab22e;
  padding: 10px;
}

.container {
  margin: 50px auto;
  width: 1440px;
  max-width: 80%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #333;
  padding: 30px;
  border-radius: 5px;
  color: #fff;
}

.wrapper span {
  font-size: 120px;
}

.joke__container {
  opacity: 0;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 11px 11px 11px #000;
  text-align: justify;
  letter-spacing: 2px;
  line-height: 25px;
}

.fade {
  opacity: 1;
  transition: opacity 1.3s;
}

button {
  border: 0;
  background-color: #fab22e;
  font-weight: bolder;
  font-size: 1rem;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.info {
  margin: 15px 0;
}

#jokeId,
#category {
  font-size: 1rem;
}

@media screen and (max-width: 480px) {
  .wrapper p {
    text-align: justify;
    letter-spacing: 0;
    line-height: none;
  }
}
